.landing {
  main {
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      flex-direction: row;
    }
  }

  .empty-warning {
    padding: 10px 15px;
    color: $dark;
    text-align: center;
  }

  .room-list {
    padding: 15px 20px;
    width: 100%;
  }

  .see-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    &:hover .v-icon {
      color: $light;
    }
  }
}
