.filter {
  padding: 5px 20px;
  border: 1px solid $dark;
  border-radius: $border-radius;
  margin: 0 32px 0 32px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    width: 25%;
    border: none;
    margin: 0;
  }

  &--items {
    margin-bottom: 15px;
  }

  &--title {
    font-weight: 500;
    font-size: 1.1em;
  }

  .item-title {
    margin-bottom: 10px;
  }
}
